<div class="footer_section layout_padding">
    <div class="container">
        <div class="footer_main">
            <h1 class="year_text">{{now.year}}</h1>
        </div>
        <div class="social_icon">
            <ul>
                <li><a href="#"><img src="{{url_for('static',filename='img/linkdin-icon.png')}}"></a></li>
            </ul>
        </div>
    </div>
</div>
<!--footer section end -->
<!--copyright section start -->
<div class="copyright_section">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <p class="copyright_text">{{ now.year }} All Rights Reserved Design by <a href="https://html.design/">Me</p>
            </div>
        </div>
    </div>
</div>
<script src="{{ url_for('static',filename='js/jquery.min.js')}}"></script>
<script src="{{ url_for('static',filename='js/popper.min.js')}}"></script>
<script src="{{ url_for('static',filename='js/bootstrap.bundle.min.js')}}"></script>
<script src="{{ url_for('static',filename='js/jquery-3.0.0.min.js')}}"></script>
<script src="{{ url_for('static',filename='js/plugin.js')}}"></script>
    <!-- sidebar -->
<script src="{{ url_for('static',filename='js/jquery.mCustomScrollbar.concat.min.js')}}"></script>
<script src="{{ url_for('static',filename='js/custom.js')}}"></script>
    <!-- javascript --> 
<script src="{{ url_for('static',filename='js/owl.carousel.js')}}"></script>
<script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
    

